In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_xml("students.xml")

In [3]:
df

    id     name  age  height grade degree institute    country      gender
0    1    Alice   23  200 cm     F    MSc   Caltech  Singapore        Male
1    2  Charlie   18  164 cm     B    MBA       MIT  Singapore  Non-binary
2    3   Hannah   26  151 cm     A    PhD       NUS     Canada  Non-binary
3    4    Alice   25  188 cm     C    PhD   Harvard      India  Non-binary
4    5   Edward   21  198 cm     B    PhD       IIT      India      Female
5    6  Charlie   22  160 cm     D    PhD   Harvard  Singapore  Non-binary
6    7    Alice   27  152 cm     D    MSc       IIT        USA        Male
7    8    Alice   30  162 cm     C    MBA  Stanford         UK  Non-binary
8    9   Edward   25  151 cm     E    BSc  Stanford     Canada        Male
9   10      Ian   22  198 cm     C     BA   Caltech    Germany      Female
10  11      Ian   18  174 cm     E    PhD   Caltech        USA      Female
11  12      Ian   28  199 cm     D     BA   Caltech         UK  Non-binary
12  13    Diana   20  172 cm     F    PhD       IIT     Canada  Non-binary
13  14  Charlie   25  165 cm     A    BSc       IIT     Canada        Male
14  15   Hannah   21  184 cm     F    MSc   Caltech        USA      Female
15  16    Julia   25  195 cm     D    MSc   Caltech         UK  Non-binary
16  17    Diana   23  199 cm     E    MBA   Harvard    Germany        Male
17  18   George   22  175 cm     C    PhD  Stanford         UK      Female
18  19   Edward   30  161 cm     A     BA  Stanford  Singapore        Male
19  20  Charlie   30  161 cm     F    MBA  Stanford        USA  Non-binary
20  21   Edward   22  168 cm     F     BA  Stanford        USA      Female
21  22    Fiona   24  187 cm     E     BA  Stanford      India        Male
22  23    Alice   26  184 cm     B     BA       NUS         UK        Male
23  24   Hannah   25  199 cm     B    PhD   Harvard        USA  Non-binary
24  25      Bob   21  165 cm     D     BA       MIT    Germany  Non-binary

In [4]:
df.to_xml("df.xml")